@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
*{
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #050608;
  // background: purple;
}

nav {
  position: absolute;
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: flex-end;
  padding: 15px;
  a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 10px;
    text-shadow: 1px 2px black;
  }
}

#topSection {
  position: relative;
  height: 100vh;
  .blurredbg{
    background-image: linear-gradient(45deg, rgba(25,124,127,0.8) 0%,rgba(16,82,84,0) 34%,rgba(9,46,47,0) 63%,rgba(0,1,1,1) 99%,rgba(0,0,0,1) 100%), url('/img/thebio.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
}
.container{
  max-width: 1400px;
  margin: auto;
}
#bio {
  background: #050608;
  padding: 80px 0;
  height: 100vh;
  position: relative;
  z-index: 3;
  font-family: 'Source Code Pro', monospace;
  .container{
    display: flex;
  }
  p{
    width: 50%;
    color: white;
    line-height: 1.7;
    font-size: 0.9rem;
    padding: 0 50px;
  }
  .logoCentered {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    img{
      margin-bottom: auto;
    }
  }
}

#media {
  padding: 100px 0;
  background-image: url("/img/media.jpg");
  background-size: cover;
  filter: brightness(1);


  .title{
    background: #CB6237;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    font-family: 'Source Code Pro', monospace;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
  }
.videos {
  padding: 80px 50px 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 40px;
    .video{
      border-radius: 4px;
      overflow: hidden;
      height: 300px;
      -webkit-box-shadow: 10px 10px 15px 4px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 15px 4px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 15px 4px rgba(0,0,0,0.75);
      iframe{
        height: 100%;
      }
    }
  }
}

.music {
  padding: 80px 0;
  background: linear-gradient(45deg, rgba(131,42,87,1) 0%, rgba(101,130,141,1) 89%);
  color: white;
  text-shadow: 2px 2px black;
  border-top: solid;
  .container{
    display: flex;
    padding: 0 50px;
  }

  .info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 100px;
    }
    .singles {
      width: 400px;
      display: grid;
      grid-template-columns: 50% 50%;

      li {
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        margin-bottom: 40px;
      }
    }
    .logos{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
      margin-top: 20px;
      margin-left: auto;
      img{
        width: 40%;

      }
    }
  }
  .albumCover{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 50%;
      border: solid;
      border-width: thin;
    }
  }
}

#musicTwo {
  background: linear-gradient(45deg, rgba(183,92,49,1) 20%,rgba(232,232,232,1) 100%);
}

#picture{
  border-top: solid;
  border-color: white;
  background-image: linear-gradient(to bottom, rgba(232,232,232,0) 0%,rgba(172,172,172,0) 26%,rgba(0,0,0,0.8) 100%), url('/img/thebiohead.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 40px;
  height: 100vh;
  width: 100%;
  .foot{
    font-size: 1rem;
    color: white;
    opacity: 0.9;
  }
}

@media only screen and (max-width: 740px) {
  #bio{
    padding: 40px 0;
    .container{
      display: inline;
    }
    p {
      padding: 0 40px;
      width: 100%;
      font-size: 0.8rem;
    }
    .logoCentered {
      img{
        padding-top: 30px;
        width: 80%;
      }

    }
  }

  #media {
    .videos{
      display: block;
      padding: 30px;
      .video{
        padding-top: 20px;
      }
    }
  }

.music {
  .container{
    display: block;
  }
  .albumCover{
    margin-left: auto;
    margin-right: auto;

    img{
      align-items: stretch;
      width: 110%;
    }
  }
  .info{
    width: 100%;
    .title{
      margin-bottom: 50px;
    }
    .singles{
      li{
        display: none;
      }
    }
    .logos{
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
        img{
          padding: 10px;
          width: 80%;
        }

      }
    }
  }

  #picture{
    background-image: linear-gradient(to bottom, rgba(232,232,232,0) 0%,rgba(172,172,172,0) 26%,rgba(0,0,0,0.8) 100%), url('/img/jose.jpg');
  }

}
